In [40]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
import seaborn as sns

In [41]:
iris = sns.load_dataset('iris')

In [42]:
X = iris.drop("species", axis=1)
y = iris["species"]

In [43]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [46]:
from sklearn.preprocessing import StandardScaler

In [47]:
st_scaler = StandardScaler()
st_scaler.fit(X_train)
X_train_scaled = st_scaler.transform(X_train)

In [48]:
pd.DataFrame(X_train_scaled, columns=X_train.columns)

     sepal_length  sepal_width  petal_length  petal_width
0       -1.139739     0.849094     -1.450251    -1.455289
1        0.207649    -0.099362      0.547972     0.700695
2       -0.649779     2.034664     -1.567794    -1.185791
3        0.575119     0.374866      0.312887     0.296448
4        1.187568     0.137752      0.547972     0.296448
..            ...          ...           ...          ...
100     -1.017249     0.611980     -1.332708    -1.051042
101     -0.527290    -1.284932      0.019031     0.026950
102     -1.384718     0.849094     -1.215166    -1.455289
103      2.412466     1.797550      1.429541     0.970193
104      0.697609    -0.099362      1.076914     1.239691

[105 rows x 4 columns]

In [50]:
log = LogisticRegression()
log.fit(X_train_scaled, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [51]:
X_test_scaled = st_scaler.transform(X_test)
y_predict = log.predict(X_test_scaled)

In [59]:
y_predict

array(['setosa', 'setosa', 'virginica', 'setosa', 'versicolor', 'setosa',
       'setosa', 'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'setosa',
       'versicolor', 'setosa', 'virginica', 'virginica', 'setosa',
       'versicolor', 'virginica', 'virginica', 'versicolor', 'setosa',
       'virginica', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'setosa', 'versicolor', 'setosa', 'virginica', 'setosa', 'setosa',
       'setosa', 'virginica', 'virginica', 'setosa', 'versicolor',
       'setosa', 'versicolor'], dtype=object)

In [52]:
from sklearn.metrics import classification_report

In [57]:
print(classification_report(y_true=y_test, y_pred=y_predict))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        21
  versicolor       0.83      1.00      0.91        10
   virginica       1.00      0.86      0.92        14

    accuracy                           0.96        45
   macro avg       0.94      0.95      0.94        45
weighted avg       0.96      0.96      0.96        45

<div>
<img src="Precisionrecall.png" width="500", alt="Precision and Recall"/>
</div>